/* Reset do modelo de caixa */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove qualquer tipo de scroll */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: default !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body.app-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  /* Controle de overflow apenas na .app-body */
  overflow-x: hidden;
}
